data/
__pycache__
*.jpg
*.obj
# *.sh
*.pth
*.zip
*clip*
output/
image/
blender*
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
logs/events.out.tfevents.1667406915.pgpu11
logs/events.out.tfevents.1666282703.pgpu14
logs/events.out.tfevents.1666282703.pgpu14
.idea/3DILG.iml
.idea/deployment.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
logs/events.out.tfevents.1666282703.pgpu14
.idea/workspace.xml
logs/events.out.tfevents.1667468011.pgpu16
logs/events.out.tfevents.1667564020.pgpu17
.idea/codeStyles/codeStyleConfig.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
PUCRN/.idea/workspace.xml
PUCRN/.idea/vcs.xml
PUCRN/.idea/PUCRN.iml
PUCRN/.idea/modules.xml
PUCRN/.idea/misc.xml
PUCRN/.idea/inspectionProfiles/Project_Default.xml
PUCRN/.idea/inspectionProfiles/profiles_settings.xml
PUCRN/.idea/deployment.xml
.idea/workspace.xml
